   @media (min-width: 375px) {
       #pole1 {
           max-inline-size: 100%;
           block-size: auto;
       }

       .dropbutton {
           background-color: #04AA6D;
           color: white;
           padding: 16px;
           font-size: 16px;
           border: none;
       }

       .dropdown {
           position: relative;
           display: inline-block;
       }

       .dropcontent {
           display: none;
           position: absolute;
           background-color: #04AA6D;
           min-width: 160px;
           box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
           z-index: 1;
       }

       .dropcontent a {
           color: black;
           padding: 12px 16px;
           text-decoration: none;
           display: block;
       }

       .dropcontent a:hover {
           background-color: #04AA6D;
       }

       .show {
           display: block;
       }


       h1 {
           display: flex;
           justify-items: center;
           justify-content: space-around;
           color: #830a0a;
           font-size: xx-large;
       }

       #pole1 {
           width: auto;
           height: auto;
           margin: auto;
           display: flex;
           justify-content: center;
           flex-direction: column;
           border-radius: 10%;
       }

       .feed-container {
           display: flex;
           flex-direction: column;
           gap: 20px;
           padding: 10px;
       }

       .produit {
           background-color: #db9898;
       }

       .swap {
           display: flex;
           flex-direction: row;
       }

       .photos {
           display: none;
       }
   }